/* color palette from <https://github.com/vuejs/theme> */
/* 基础颜色 */
:root {
  --lor-blue: rgb(40, 57, 133);
  --lor-sidebar-hover-bg: #5775a0;
  --lor-padding-px: 20px;
  --lor-active-bg-color: rgb(192, 190, 190);
  --lor-main-bg-color: #eef0f4;
}

/* semantic color variables for this project */
/* :root {
 
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    
  }
} */


